body {
  background-image:url("https://images.pexels.com/photos/3839336/pexels-photo-3839336.jpeg");
  background-repeat: no-repeat;
  background-size:100% 95% ;
  
  
  font-family: "Roboto", "sans-serif";
  
  margin: 8px;
}
.weather-App {
 background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
  opacity:0.7;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
form {
  display: block;
  margin-top: 0;
}

.search-form-Input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}

.app-data {
  display: flex;
  justify-content: space-between;
  height: 10px;
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 30px;
}

.details {
    font-weight: bold;
  font-size: 16px;
  color: rgba(13, 13, 14, 0.938);
  line-height: 24px;
  font-weight: 500;
}
.app-Temparature {
  display: flex;
  position: relative;
  justify-content: right;
  bottom: 87px;
}
.weather-temp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.icon {
  width: 88px;
  height: 89px;
}
.unit {
  margin-top: 10px;
  font-size: 28px;
}
.Humidity,
.speed {
  color: #ff347f;
}

.weather-forecast{
     display: flex;
  justify-content: space-between;
text-align: center;
padding: 0;
top: 100px;
}

.forecast-day:hover{
    background-color: rgba(35, 71, 71, 0.418);
    color: #ff347f;
    cursor: pointer;
    border: 10px;
    border-radius: 6px;
   

}

.forecast-date {
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.forecast-icon {
 width: 80px;
 height: 80px;
 display: block;
 margin: 0 auto;
}
.forecast-Temperatures {
  text-align: center;
  color:#085f63;
  margin-top: 8px;
  display: flex;
  justify-content: center;
  font-size: medium;
}

.forecast-Temp {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 16px;
  color: black;
}